# IDE, editors
/.idea

# data
/devarchive
/data
/.env

# testing
/test.http
/coverage.out

# other
/.github
/docker-compose.example.yml
/Dockerfile
/.dockerignore
/.gitignore
/docs
/.env.example
/README.md
